    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre mim</h2>
                    <hr class="light">
                    <p>Formado em Tecnologia em Análise e Desenvolvimento de Sistemas, possuo experiência com linguagens de banco de dados e desenvolvimento Web. Busco experiências profissionais e oportunidades para trabalhos <em>freelance</em>. No documento abaixo, você poderá ver mais informações.</p>
                    <p class="text-secondary"><i class="fa fa-file" aria-hidden="true"></i> eduardo_thome.doc<p>
                    <a href="http://gdurl.com/ioO7/download" download class="page-scroll btn btn-primary btn-xl sr-button"><span class="glyphicon glyphicon-cloud-download"></span> Baixar currículo</a>
                </div>
            </div>
        </div>
    </section>

    <section id="knowledge">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conhecimentos</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    	<i class="fa fa-4x  icon-ruby-on-rails-alt text-primary sr-icons"></i>
                        <h3>Ruby on Rails</h3>
                        <p class="text-muted">Frameworkd para desenvolvimento ágil e rápido de aplicações web. Indica para projetos com prazo determinado, devido a sua produtividade e ferramentas automatizadas.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  icon-html text-primary sr-icons"></i>
                        <h3>Front-end</h3>
                        <p class="text-muted">Codificação de Layouts, através de templates PSD, utilizando ferramentas modernas de design responsivo, otimizado para dispositivos mobile.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x icon-javascript text-primary sr-icons"></i>
                        <h3>Javascript</h3>
                        <p class="text-muted">Integração entre front-end e back-end através da linguagem Javascript, tornando a página mais dinâmica e iterativa, através de frameworks como JQuery.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x icon-php-alt text-primary sr-icons"></i>
                        <h3>PHP</h3>
                        <p class="text-muted">Desenvolvimento de páginas de conteúdo, ou sistemas de ecommerce ou CMS, como Wordpress, nesta que é a linguagem de programação mais popular de web sites! Utilização de <em>frameworks</em> como Laravel, ou CAKEPHP, ou customização de sistemas Wordpress.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-lg-8 col-lg-offset-2 text-center">
            		<h2 class="section-heading">Projetos</h2>
            		<hr class="primary">

                    <p> <span class="fa fa-github"></span> Veja o código desta páginas e outros projetos em meu <a href="https://github.com/eduardothome7?tab=repositories" target="_blank">Github</a>.</p>

        		</div>
        	</div>
        </div>
    </section>

    <section id="contact">
    	<h2 class="section-heading text-center">Contato</h2>
            	
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bullet">
                    	<span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <p class="text-description">Entre em contato pelo formulário ao lado! Envie seu projeto para orçamento ou tire suas dúvidas. Responderei o mais breve possível! :)</p>
                    <p>Ou entre em contato também através da redes sociais abaixo!</p>
                    <p class="primary-text"><strong><i class="fa fa-whatsapp" aria-hidden="true"></i> (51) 99920 9497</p></strong>
                    <p class="primary-text"><a href="https://www.facebook.com/eduardocthome" target="_blank"><strong><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></p></strong>
                    <p class="text-description"><span class="glyphicon glyphicon-map-marker"></span> Porto Alegre - RS </p>
                </div>
                <div class="col-md-6 left-border">
                    <text id="form_message"></text>
                	<form action="#" id="contact-form" method="post">
                        <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->

                		<div class="form-group">
                			<input type="text" class="form-control" name="name" required="true" placeholder="Nome completo">
                		</div>
                		<div class="form-group">
                			<input type="email" class="form-control" name="email" required="true" placeholder="email">
                		</div>
                		<div class="form-group">
                			<input type="text" class="form-control" name="title" required="true" placeholder="assunto">
                		</div>
                		<div class="form-group">
                			<textarea class="form-control" rows="5" name="message" required="true" placeholder="Mensagem"></textarea>
                		</div>
                		<div class="row">
                			<div class="col-md-4 col-md-offset-8">
                				<input type="submit" class="btn button btn-primary btn-block" value="enviar">
                			</div>
                		</div>
                	</form>
                </div>
            </div>
        </div>
        <h5 class="text-center text-primary"><i class="icon-ruby-on-rails-alt"></i> Desenvolvido em Rails <%= Rails.version %> - 2017</h5>
    </section>
